image: alpine:latest

stages:
 - hello
 - datetime
 - deploy
 
helloworld:
 stage: hello
 script:
  - echo "hello world"
  
explain-yourself:
 stage: hello
 script:
  - echo "This is a GitLab CI job"
  
what-time-is-it:
 stage: datetime 
 script:
  - date

deploy-auto:
 stage: deploy
 script:
  - echo "automatic"
  
deploy-manual:
 stage: deploy
 script:
  - echo "manual"
